/* You can add global styles to this file, and also import other style files */

// center the content
.center{
    text-align: center;
}

// validation error css 
.error{
    color: red;
   font-size: medium;
  }